.site-title {
  display: flex;
  height: 54px;
}

.site-title::before {
  content: '';
  background:url('/images/logo.jpg');
  width: 54px;
  height: 54px;
  display: block;
  background-size: 54px 54px;
  background-repeat: no-repeat;
}
